<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
			{{#if loggedIn}}
			<p>You are already logged in!</p>
			{{else}}
			<form class="form-horizontal" {{action "login" on="submit"}}>
				<fieldset>
					<legend>Login</legend>
					

					{{#if isSlowConnection}}
					<div data-alert class="alert-box">
						The request seems to be taking more time than usual, please wait.
						<a href="#" class="close">&times;</a>
					</div>
					{{/if}}
					<div class="form-group">
						<label class="col-md-2 control-label">Username</label>
						<div class="col-md-10">
							{{input value=username type="text" class="form-control" placeholder="Username"}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Password</label>
						<div class="col-md-10">
							{{input value=password type="password" class="form-control" placeholder="Password"}}
						</div>
					</div>

					<div class="col-md-12">
						{{input class="btn btn-default" type="submit" value="Log In"}} or {{#linkTo "register" }}Register{{/linkTo}}
					</div>
				</fieldset>
			</form>
			
		</div>
		{{#if errorMessage}}
		<div class="col-md-12 alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{{errorMessage}}
		</div>
		{{/if}}
	</div>
	{{/if}}
</div>
</div>