<div class="row">
	<div class="large-6 columns large-centered">
		<h2> Register </h2>
		<form class="form-horizontal" {{action "register" on="submit"}}>
			
		<div class="row">
			<div class="large-12 columns">
				<label>First Name</label>
				 {{input value=firstName type="text" placeholder="First Name"}}
			</div>
		</br>
			<div class="large-12 columns">
				<label>Last Name</label>
				 {{input value=lastName type="text" placeholder="Last Name"}}
			</div>
		</br>
			<div class="large-12 columns">
				<label>Email Address</label>
				 {{input value=email type="email" placeholder="Email Address"}}
			</div>
		</br>
			<div class="large-12 columns">
				<label>Username</label>
				  {{input value=username type="text" placeholder="Username"}}
			</div>
		</br>
			<div class="large-12 columns">
				<label>Password</label>
				 {{input value=password type="password" placeholder="Password"}}
			</div>
		</br>
		
			<div class="large-12 columns">
			</br>
			{{input class="small button" type="submit" value="register"}} or {{#linkTo "login"}}Login{{/linkTo}}
			</div>
		</div>
		</form>
		 </div>
</div>