<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
			<fieldset>
				<legend>
					Register
				</legend>
				<form class="form-horizontal" {{action "register" on="submit"}}>
					<div class="form-group">
						<label class="col-md-3 control-label">First Name</label>
						<div class="col-md-9">
							{{input value=firstName type="text" class="form-control" placeholder="First Name"}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">
							Last Name
						</label>
						<div class="col-md-9">
							{{input value=lastName type="text" class="form-control" placeholder="Last Name"}}
						</div>					
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">
							Email
						</label>
						<div class="col-md-9">
							{{input value=email type="text" class="form-control" placeholder="Email"}}
						</div>					
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">
							Password
						</label>
						<div class="col-md-9">
							{{input value=password type="password" class="form-control" placeholder="Password"}}
						</div>					
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">
							Confirm Password
						</label>
						<div class="col-md-9">
							{{input value=confirmPassword type="password" class="form-control" placeholder="Password"}}
						</div>					
					</div>
					<div class="large-12 columns">
						{{input class="btn btn-default" type="submit" value="Register"}} or {{#linkTo "login"}}Login{{/linkTo}}
					</div>
				</form>
			</fieldset>
		</div>
	</div>
</div>